// Fonts Config
@mixin font-size-xxxl($weight) {
  font-size: 2.5rem; // 50px
  line-height: 150%;
  font-weight: $weight;
}
@mixin font-size-xxl($weight) {
  font-size: 2rem; // 32px
  line-height: 150%;
  font-weight: $weight;
}
@mixin font-size-xl($weight) {
  font-size: 1.5rem; // 24px
  line-height: 150%;
  font-weight: $weight;
}
@mixin font-size-lg($weight) {
  font-size: 1.25rem;  // 20px
  line-height: 150%;
  font-weight: $weight;
}
@mixin font-size-md($weight) {
  font-size: 1.125rem;  // 18px
  line-height: 150%;
  font-weight: $weight;
}
@mixin font-size-sm($weight) {
  font-size: 1rem; // 16px
  line-height: 150%;
  font-weight: $weight;
}
@mixin font-size-xs($weight) {
  font-size: 0.875rem; // 14px
  line-height: 150%;
  font-weight: $weight;
}
@mixin font-size-xxs($weight) {
  font-size: 0.75rem; // 12px
  line-height: 150%;
  font-weight: $weight;
}
