// Header Background
$primary-color-bg: #172234;

// Gradient color
$gradient-color: linear-gradient(90deg, rgba(66,133,244,1) 0%, rgba(80,170,127,1) 100%);

// Brand Primary Color
$brand-color-primary-500: #3973D4;
$brand-color-primary-400: #4285F4;
$brand-color-primary-300: #6FA5FF;
$brand-color-primary-200: #99BFFF;
$brand-color-primary-100: #C2D9FF;

// Secondary colors
$brand-color-secondary-500: #469B72;
$brand-color-secondary-400: #50AA7F;
$brand-color-secondary-300: #65BA91;
$brand-color-secondary-200: #8FC8AC;
$brand-color-secondary-100: #BAD6C9;

// Neutral colors
$neutral-color-gray-500: #2E353F;
$neutral-color-gray-400: #465261;
$neutral-color-gray-300: #6E7B8B;
$neutral-color-gray-200: #808D9D;
$neutral-color-gray-100: #AAB5C1;

// Default Colors
$black: #000;
$white: #FFF;

// Border colors
$border-color: #E4E8EC;

// Tabs border
$border-button-tabs: #E9EBF2;

// Background Inputs
$bg-inputs: #F5F6FA;

// Fonts Weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
