@import "./abstracts/variables";
@import "./abstracts/mixins";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --bs-body-font-family: 'Inter', sans-serif;
}

header {
  position: relative;

  nav {
    img {
      width: 90px;
    }
    .text-end {
      button {
        background-color: rgba(186, 214, 201, 0.12);
        border: none;
        padding: 12px 24px;
        @include font-size-sm($font-weight-semibold);

        &:hover {
          background-color: rgba(186, 214, 201, 0.20);
        }
      }
    }
  }
  .slide {
    h1 {
      @include font-size-xxxl($font-weight-bold);
      max-width: 587px;
      padding: 48px 0;
    }
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding-bottom: 24px;
        @include font-size-md($font-weight-regular);

        i {
          margin-right: 24px;
        }
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    height: 6px;
    left: 0;
    width: 100%;
    background: $gradient-color;
    z-index: 1;
  }
}

main {
  .feat-block {

    .feat-box {
      padding: 32px;
      border-radius: 8px;
      border: 1px solid $border-color;

      img {
        width: 56px;
        margin-bottom: 40px;
      }

      h2 {
        @include font-size-lg($font-weight-bold);
        color: $neutral-color-gray-500;
      }

      a {
        text-decoration: none;
        @include font-size-sm($font-weight-semibold);
        color: $neutral-color-gray-200;

        i {
          transition: .3s;
          margin-left: 3px;
        }

        &:hover {
          i {
            margin-left: 8px;
          }
        }
      }
    }
  }
  .tabs-block {
    .tabs-title {
      h3 {
        @include font-size-xxl($font-weight-bold);
        color: $neutral-color-gray-500;
      }
    }
    .tabs-sub-title {
      p {
        @include font-size-sm($font-weight-regular);
        color: $neutral-color-gray-400;

        i {
          color: $neutral-color-gray-100;
          margin-left: 34px;
          margin-right: 10px;
        }
      }
    }
    .tabs-container {
      .nav-link {
        background: none;
        border: none;
        border-left: 6px solid $border-button-tabs;
        height: 72px;
        width: 100%;
        text-align: left;
        color: $neutral-color-gray-100;
        padding-left: 40px;

        span {
          margin-right: 10px;
        }

      }
      .active {
        border-color: $brand-color-primary-400;
        font-weight: 700;
        color: $neutral-color-gray-400;

        span {
          color: $neutral-color-gray-200;
        }
      }
    }
  }
  .carousel-container {

    padding-left: 40px;

    .carousel-words {
      color: $white;
      display: flex;
      align-content: center;
      align-items: center;
      overflow: hidden;
      @include font-size-xs($font-weight-semibold);

      div {
        display: flex;

        p {
          margin-bottom: 0;
        }

        img {
          height: 16px;
          width: 14px;
          margin: 0 80px;
        }
      }

    }
  }
  .about-us {
    position: relative;
    height: 600px;

    .text-about-us {
      h2 {
        color: $white;
        @include font-size-xxl($font-weight-bold);
      }
      p {
        color: $neutral-color-gray-100;
        @include font-size-sm($font-weight-regular);
      }
    }
  }
  .newsletter {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0px 8px 40px rgba(120, 133, 147, 0.16);
    height: 150px;
    margin-top: -75px;
    position: absolute;
    left: 0;
    right: 0;
  }
}

footer {
  background-color: $white;
  height: 570px;
}
